
.footer{
    background-color: #071c42;
    position: relative;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
}


.footer > ul > li{
    list-style-type: none;
    display: inline;
    padding: 3px;
   
}

.footer > ul > li > a{
    text-decoration: none;
    color:#ffffff
}


