
.footer{
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color:#3e4852 ;
    position: fixed;
    left: 0;
    bottom: 0;
    
}


.footer > ul > li{
    list-style-type: none;
    display: inline;
    padding: 3px;
   
}

.footer > ul > li > a{
    text-decoration: none;
    color:#ffffff
}


