@import './nav-bar.css';
@import './footer.css';
@import './home-page.css';
@import './places.css';
@import './secondary-nav.css';
@import './transport.css';
@import './travel-tips.css';

* {
  margin:0;
  padding: 0;
}

html,body{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif; 
    background-color: #eee;
    height: 100%;
}

ul{
    padding: 0;
    margin: 0%;
}


