
.nav-bar{
    color:#ffffff;
    padding:20px;
    background-color: #143580;
}


.nav-bar > ul{
  max-width: 1200px;
  margin:0 auto;
}
.nav-bar > ul > li{
    list-style-type: none;
    display: inline;
}


.nav-bar > ul > li > a{
  color:#ffffff;
  text-decoration: none;
  padding: 3px;
  font-size: 16px;
}

.nav-bar > ul > li > a:hover{
  color:#00acf0;
} 

